/*!
* by zhangxinxu(.com) 2010-?
* https://github.com/zhangxinxu/zxx.lib.css
* under MIT license
*/
/* 
	fork:https://github.com/l0f5c7bf/zxx.lib.css 根据个人习惯调整，顺手就好，如非必要，请不要再项目中修改此文件 
	cdn:https://cdn.rawgit.com/l0f5c7bf/zxx.lib.css/master/zxx.lib.css
*/
/* ---------------------single CSS----------------------- */

/*危险属性*/
.hide{display: none !important;}
.show{display: block !important;}
/* display */
.dn,.none{display:none;}
.di,.inline{display:inline;}
.db,.block{display:block;}
.dib,.inline-block{display:inline-block;}
/* height */
.h0{height:0;}
.h14{height:14px;}
.h16{height:16px;}
.h18{height:18px;}
.h20{height:20px;}
.h22{height:22px;}
.h24{height:24px;}
.h30{height:30px;}
.h40{height: 40px;}
/* width */
/* fixed width value */
.w20{width:20px;}
.w50{width:50px;}
.w70{width:70px;}
.w100{width:100px;}
.w120{width:120px;}
.w140{width:140px;}
.w160{width:160px;}
.w180{width:180px;}
.w200{width:200px;}
.w220{width:220px;}
.w250{width:250px;}
.w280{width:280px;}
.w300{width:300px;}
.w320{width:320px;}
.w360{width:360px;}
.w400{width:400px;}
.w460{width:460px;}
.w500{width:500px;}
.w600{width:600px;}
.w640{width:640px;}
.w700{width:700px;}
/* percent width value */
.w1{width:10%;}
.w2{width:20%;}
.w3{width:30%;}
.w4{width:40%;}
.w5{width:50%;}
.w6{width:60%;}
.w7{width:70%;}
.w8{width:80%;}
.w9{width:90%;}
/* line-height */
.lh0{line-height:0;}
.lh14{line-height:14px;}
.lh16{line-height:16px;}
.lh18{line-height:18px;}
.lh20{line-height:20px;}
.lh22{line-height:22px;}
.lh24{line-height:24px;}
.lh30{line-height:30px;}
.lh40{line-height: 40px;}
/* margin */
.m0{margin:0;}
.ml1{margin-left:1px;}
.ml2{margin-left:2px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}
.mr1{margin-right:1px;}
.mr2{margin-right:2px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr40{margin-right:40px;}
.mt1{margin-top:1px;}
.mt2{margin-top:2px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mb1{margin-bottom:1px;}
.mb2{margin-bottom:2px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
/* margin negative */
.ml-1{margin-left:-1px;}
.mr-1{margin-right:-1px;}
.mt-1{margin-top:-1px;}
.mb-1{margin-bottom:-1px;}
.ml-3{margin-left:-3px;}
.mr-3{margin-right:-3px;}
.mt-3{margin-top:-3px;}
.mb-3{margin-bottom:-3px;}
.ml-20{margin-left:-20px;}
.mr-20{margin-right:-20px;}
.mt-20{margin-top:-20px;}
.mb-20{margin-bottom:-20px;}
/* padding */
.p0{padding:0;}
.p1{padding:1px;}
.pl1{padding-left:1px;}
.pt1{padding-top:1px;}
.pr1{padding-right:1px;}
.pb1{padding-bottom:1px;}
.p2{padding:2px;}
.pl2{padding-left:2px;}
.pt2{padding-top:2px;}
.pr2{padding-right:2px;}
.pb2{padding-bottom:2px;}
.pl5{padding-left:5px;}
.p5{padding:5px;}
.pt5{padding-top:5px;}
.pr5{padding-right:5px;}
.pb5{padding-bottom:5px;}
.p10{padding:10px;}
.pl10{padding-left:10px;}
.pt10{padding-top:10px;}
.pr10{padding-right:10px;}
.pb10{padding-bottom:10px;}
.p15{padding:15px;}
.pl15{padding-left:15px;}
.pt15{padding-top:15px;}
.pr15{padding-right:15px;}
.pb15{padding-bottom:15px;}
.p20{padding:20px;}
.pl20{padding-left:20px;}
.pt20{padding-top:20px;}
.pr20{padding-right:20px;}
.pb20{padding-bottom:20px;}
.p30{padding:30px;}
.pl30{padding-left:30px;}
.pt30{padding-top:30px;}
.pr30{padding-right:30px;}
.pb30{padding-bottom:30px;}
.pl40{padding-left:40px;}
.pt40{padding-top:40px;}
.pr40{padding-right:40px;}
.pb40{padding-bottom:40px;}
/* border-color name rule: border(b)-position(l/r/t/b/d)-width(null/2)-style(null/sh)-color(first one letter/first two letter) |-> All colors are safe color*/
.bas{border:1px solid #eee;}
.bls{border-left:1px solid #eee;}
.brs{border-right:1px solid #eee;}
.bts{border-top:1px solid #eee;}
.bbs{border-bottom:1px solid #eee;}
.bad{border:1px dashed #eee;}
.bld{border-left: 1px dashed #eee;}
.brd{border-right: 1px dashed #eee;}
.btd{border-top: 1px dashed #eee;}
.bbd{border-bottom: 1px dashed #eee;}
/* safe color */
.g0{color:#000;}
.g3{color:#333;}
.g6{color:#666;}
.g9{color:#999;}
.gc{color:#ccc;}
.gf{color:#fff;}
/* font-size */
.f0{font-size:0;}
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f24{font-size:24px;}
.f28{font-size:28px;}
/* font-style */
.fn{font-weight:normal; font-style:normal; white-space: normal;}
/*writing-mode*/
.wr{writing-mode: tb-rl; -webkit-writing-mode: vertical-rl; writing-mode: vertical-rl; *writing-mode: tb-rl;}
/* text-align */
.tc{text-align:center;}
.tr{text-align:right;}
.tl{text-align:left;}
.tj{text-align:justify;}
/* white-space */
.nowrap{white-space:nowrap;}
/* word-wrap */
.bk{word-wrap:break-word;}
/* vertical-align */
.vm{vertical-align:middle;}
.vtb{vertical-align:text-bottom;}
.vb{vertical-align:bottom;}
.vt{vertical-align:top;}
.v-1{vertical-align:-1px;}
.v-2{vertical-align:-2px;}
.v-3{vertical-align:-3px;}
.v-4{vertical-align:-4px;}
.v-5{vertical-align:-5px;}
/* float */
.l,.fl{float:left;}
.r,.fr{float:right;}
/* clear */
.cl{clear:both;}
/* position */
.relative,.pr{position:relative;}
.absolute,.pa{position:absolute;}
/*z-index*/
.zi1{z-index:1;}
.zi2{z-index:2;}
/* cursor */
.cp{cursor:pointer;}
/* overflow */
.oh{overflow:hidden;}
.oa{overflow:auto;}
/* visibility */
.vh{visibility:hidden;}
.vv{visibility:visible;}
/* opacity */
.o0{opacity:0; filer:alpha(opacity=0);}
/* zoom */
.z1{*zoom:1;}
/*背景色*/
.bg-navy{background-color: #001f3f;}
.bg-blue{background-color: #0074d9;}
.bg-aqua{background-color: #7fdbff;}
.bg-teal{background-color: #39cccc;}
.bg-olive{background-color: #3d9970;}
.bg-green{background-color: #2ecc40;}
.bg-lime{background-color: #01ff70;}
.bg-yellow{background-color: #ffdc00;}
.bg-orange{background-color: #ff851b;}
.bg-red{background-color: #ff4136;}
.bg-fuchsia{background-color: #f012be;}
.bg-purple{background-color: #b10dc9;}
.bg-maroon{background-color: #85144b;}
.bg-white{background-color: #fff;}
.bg-gray{background-color: #aaa;}
.bg-silver{background-color: #ddd;}
.bg-black{background-color: #111;}
/* 字体颜色 */
.navy{color: #001f3f;}
.blue{color: #0074d9;}
.aqua{color: #7fdbff;}
.teal{color: #39cccc;}
.olive{color: #3d9970;}
.green{color: #2ecc40;}
.lime{color: #01ff70;}
.yellow{color: #ffdc00;}
.orange{color: #ff851b;}
.red{color: #ff4136;}
.fuchsia{color: #f012be;}
.purple{color: #b10dc9;}
.maroon{color: #85144b;}
.white{color: #fff;}
.silver{color: #ddd;}
.gray{color: #aaa;}
.black{color: #111;}

/*flex*/
.flex .row{display: -webkit-box;display: -webkit-flex;display: -moz-box;display: -moz-flex;display: -ms-flexbox;display: flex;width: 100%;}
.flex .col{-webkit-box-flex: 1;-webkit-flex: 1;-moz-box-flex: 1;-moz-flex: 1;-ms-flex: 1;flex: 1;display: block;width: 100%;}.row-top{-webkit-box-align: start;-ms-flex-align: start;-webkit-align-items: flex-start;-moz-align-items: flex-start;align-items: flex-start;}
.flex .row-bottom{-webkit-box-align: end;-ms-flex-align: end;-webkit-align-items: flex-end;-moz-align-items: flex-end;align-items: flex-end;}
.flex .row-center{-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;-moz-align-items: center;align-items: center;}
.flex .row-stretch{-webkit-box-align: stretch;-ms-flex-align: stretch;-webkit-align-items: stretch;-moz-align-items: stretch;align-items: stretch;}
.flex .row-baseline{-webkit-box-align: baseline;-ms-flex-align: baseline;-webkit-align-items: baseline;-moz-align-items: baseline;align-items: baseline;}.col-top{-webkit-align-self: flex-start;-moz-align-self: flex-start;-ms-flex-item-align: start;align-self: flex-start;}
.flex .col-bottom{-webkit-align-self: flex-end;-moz-align-self: flex-end;-ms-flex-item-align: end;align-self: flex-end;}
.flex .col-center{-webkit-align-self: center;-moz-align-self: center;-ms-flex-item-align: center;align-self: center;}
.flex .col-offset-10{margin-left: 10%;}
.flex .col-offset-20{margin-left: 20%;}
.flex .col-offset-25{margin-left: 25%;}
.flex .col-offset-33{margin-left: 33.3333%;}
.flex .col-offset-50{margin-left: 50%;}
.flex .col-offset-66{margin-left: 66.6666%;}
.flex .col-offset-75{margin-left: 75%;}
.flex .col-offset-80{margin-left: 80%;}
.flex .col-offset-90{margin-left: 90%;}
.flex .col-10{-webkit-box-flex: 0;-webkit-flex: 0 0 10%;-moz-box-flex: 0;-moz-flex: 0 0 10%;-ms-flex: 0 0 10%;flex: 0 0 10%;max-width: 10%;}
.flex .col-20{-webkit-box-flex: 0;-webkit-flex: 0 0 20%;-moz-box-flex: 0;-moz-flex: 0 0 20%;-ms-flex: 0 0 20%;flex: 0 0 20%;max-width: 20%;}
.flex .col-25{-webkit-box-flex: 0;-webkit-flex: 0 0 25%;-moz-box-flex: 0;-moz-flex: 0 0 25%;-ms-flex: 0 0 25%;flex: 0 0 25%;max-width: 25%;}
.flex .col-33{-webkit-box-flex: 0;-webkit-flex: 0 0 33.3333%;-moz-box-flex: 0;-moz-flex: 0 0 33.3333%;-ms-flex: 0 0 33.3333%;flex: 0 0 33.3333%;max-width: 33.3333%;}
.flex .col-50{-webkit-box-flex: 0;-webkit-flex: 0 0 50%;-moz-box-flex: 0;-moz-flex: 0 0 50%;-ms-flex: 0 0 50%;flex: 0 0 50%;max-width: 50%;}
.flex .col-66{-webkit-box-flex: 0;-webkit-flex: 0 0 66.6666%;-moz-box-flex: 0;-moz-flex: 0 0 66.6666%;-ms-flex: 0 0 66.6666%;flex: 0 0 66.6666%;max-width: 66.6666%;}
.flex .col-75{-webkit-box-flex: 0;-webkit-flex: 0 0 75%;-moz-box-flex: 0;-moz-flex: 0 0 75%;-ms-flex: 0 0 75%;flex: 0 0 75%;max-width: 75%;}
.flex .col-80{-webkit-box-flex: 0;-webkit-flex: 0 0 80%;-moz-box-flex: 0;-moz-flex: 0 0 80%;-ms-flex: 0 0 80%;flex: 0 0 80%;max-width: 80%;}
.flex .col-90{-webkit-box-flex: 0;-webkit-flex: 0 0 90%;-moz-box-flex: 0;-moz-flex: 0 0 90%;-ms-flex: 0 0 90%;flex: 0 0 90%;max-width: 90%;}

/*12列百分比列*/ .col-12{width: 100%} .col-11{width: 91.66666667%} .col-10{width: 83.33333333%} .col-9{width: 75%} .col-8{width: 66.66666667%} .col-7{width: 58.33333333%} .col-6{width: 50%} .col-5{width: 41.66666667%} .col-4{width: 33.33333333%} .col-3{width: 25%} .col-2{width: 16.66666667%} .col-1{width: 8.33333333%}


/* ------------------- multiply CSS ------------------ */
/*按钮*/
.button{display: inline-block; padding: .5em 1em; border: 0 none; border: 1px solid rgba(0,0,0,.25);  background-image: none; box-shadow: 0 1px rgba(0,0,0,.15), inset 0 1px rgba(255,255,255,.15); color: #fff; text-align: center; text-decoration: none; text-shadow: 1px 1px rgba(0,0,0,.1); font-size: 100%; font-family: inherit; font-weight: inherit; white-space: nowrap; -webkit-user-select: none; -moz-user-select: none; user-select: none; overflow: visible; cursor: pointer;}
.button:hover, .button:focus{text-decoration: none; background-image: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0,.1));}
.button:focus{outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px;}
.button:active{box-shadow: 0 1px rgba(0,0,0,.2), inset 0 1px rgba(0,0,0,.05); outline: none;}
/* 块状元素水平居中 */
.auto,.container{margin-left:auto; margin-right:auto;}
/* 清除浮动*/
.fix,.clearfix{*zoom:1;}
.fix:after,.clearfix:after{display:table; content:''; clear:both;}
/* 基于display:table-cell的自适应布局 */
.cell{display:table-cell; *display:inline-block; width:2000px; *width:auto;}
/* 双栏自适应cell部分连续英文字符换行 */
.cell2{overflow:hidden; _display:inline-block;}
/* 单行文字溢出虚点显 示*/
.ell{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
/* css3过渡动画效果 */
.trans{-webkit-transition:all .15s; transition:all .15s;}
/* 大小不定元素垂直居中 */
.dib_vm{display:inline-block; width:0; height:100%; vertical-align:middle;}
/* 加载中背景图片 - 如果您使用该CSS小库，务必修改此图片地址 */
.loading{background:url(about:blank) no-repeat center;}
/* 无框文本框文本域 */
.bd_none{border:0; outline:none;}
/* 绝对定位隐藏 */
.abs_out{position:absolute; left:-999em; top:-999em;}
.abs_clip{position:absolute; clip:rect(0 0 0 0);}
/* 按钮禁用 */
.disabled{outline:0 none; cursor:default!important; opacity:.4; filer:alpha(opacity=40); -ms-pointer-events:none; pointer-events:none;}



